<% if flash[:success] %>
  <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
<% end %>

<div>
  <%= link_to("Back to users", "/users") %>
</div>

<% if @user.nil? %>
    Nu exista userul cerut.
<% else %>
    <%= render @user %>
<% end %>